body {
  width: 100vw;
  position: relative;

  background-color: #fff;
}
.container {
  padding: 0 110rem 0 100rem;
  height: 100%;

  overflow: hidden;
  position: relative;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  @include mobile {
    padding: 0 15rem;
  }
}

.aside {
  width: 294rem;
  height: 100%;
  padding: 58rem 0 100rem;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-right: 2rem solid #e5e5e5;

  @include mobile {
    // display: none;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}

.logo {
  font-size: 30rem;
  font-weight: 500;

  position: relative;

  @include mobile {
    position: absolute;
    top: 14rem;
    left: 20rem;
    font-size: 22rem;
  }
}

.main {
  height: 100%;
  overflow: hidden;
}

.slide {
  padding: 0 0 162rem 358rem;

  display: flex;

  @include mobile {
    padding: 60rem 0 30rem;
    flex-direction: column;
    max-height: 615px;
  }

  &__img {
    position: relative;
    width: 516rem;
    max-width: 516rem;
    height: 100%;

    margin-right: 134rem;

    flex-shrink: 0;

    @include mobile {
      width: 200rem;
      margin: 0 auto;
    }

    img {
      width: 100%;
    }
  }

  &__caption {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 42rem 0;

    font-size: 28rem;
    font-weight: 500;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10rem);

    @include mobile {
      display: none;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding-top: 246rem;

    @include mobile {
      padding: 0;
      margin-top: 24rem;
    }
  }

  &__title {
    font-size: 64rem;
    font-weight: 600;

    @include mobile {
      font-size: 18rem;
    }
  }

  &__descr {
    font-size: 18rem;
    line-height: 1.795;

    margin-top: 40rem;
    padding-right: 26rem;

    max-width: 650rem;
    max-height: 290rem;
    overflow-y: auto;

    @include mobile {
      margin-top: 10rem;
      padding: 0;

      font-size: 14rem;
      max-height: 180rem;
    }

    &::-webkit-scrollbar {
      width: 4rem;
      border-radius: 2rem;
    }

    &::-webkit-scrollbar-track {
      background-color: #e5e5e5;
      border-radius: 2rem;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6rem #b4977b;
      border-radius: 2rem;
    }
  }

  &__button {
    font-size: 18rem;

    width: fit-content;
    padding: 19rem 32rem;
    margin-top: 40rem;

    background-color: $main-color;
    border-radius: 50rem;
    border: none;
    color: $white-color;
    transition: color ease-in .24s, background-color ease-in .24s;
    border: 2rem solid $main-color;

    @include mobile {
      font-size: 14rem;
      margin-top: 20rem;
      padding: 12rem 20rem;
    }

    &:hover {
      color: $main-color;
      background-color: #fff;
    } 
  }

  &__number {
    font-size: 200rem;
    font-weight: 600;
    color: $white-color;
    -webkit-text-stroke: 2rem $main-color;

    position: absolute;
    right: 0;
    bottom: 62rem;

    @include mobile {
      font-size: 100rem;
      right: 6rem;
      bottom: 0;
    }
  }

  &__counter {
    font-size: 54rem;
    font-weight: 500;

    display: flex;
    flex-direction: column;
  }
  &__current-number {
  }
}
.swiper {
  height: 100vh;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 4rem !important;
  height: 42rem !important;
  background-color: $main-color !important;
  border-radius: 0 !important;

  &:first-child,
  &:last-child {
    border-radius: 2rem !important;
  }

  &-active {
    border-radius: 2rem !important;
  }
}

.swiper-pagination {
  position: static !important;
  transform: none !important;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__navigation {
  font-size: 54rem;
  font-weight: 500;
  color: $main-color;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    display: none;
  }
}

.arrow {
  width: 58rem;
  height: 79rem;
  border: 2rem solid $main-color;
  border-radius: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  @include mobile {
    display: none;
  }

  svg {
    width: 16rem;
    height: 30rem;
  }
}

.decor {
  position: absolute;

  &-1 {
    width: 160rem;
    height: 240rem;
    top: 189rem;
    right: -80rem;
  }

  &-2 {
    width: 130rem;
    height: 194rem;
    bottom: 286rem;
    right: 289rem;
  }

  &-3 {
    width: 180rem;
    height: 241rem;
    right: 650rem;
    bottom: -94rem;
  }

  svg {
    width: 100%;
  }
}

.slides__length-number {
  color: #e4d6c9;

  &.active {
    color: $main-color;
  }
}

.mob-btn {
  width: 46px;
  height: 40px;
  padding: 10px;

  position: absolute;
  z-index: 3;
  right: 10rem;
  top: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &.active {
    span {
      &:first-child {
        transform: rotate(-45deg) translate(-5rem, 5rem);
        transition: transform ease-in .14s;
      }
      &:nth-child(2) {
        transform: rotate(45deg) translate(-4rem, -4rem);
        transition: transform ease-in .14s;
      }
      &:last-child {
        display: none;
      }
    }
  }

  span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: $black-color;
  }
}

.mobile {
  @include desktop {
    display: none;
  }
}

.desktop {
  @include mobile {
    display: none;
  }
}
